body{

	font-family: Arial, helvetica;
	font-size: 90%;
	color: black;
	margin-left: 3em;
	padding-top: 2em;

}

p{
	line-height: 2em;
}

h2{

	color: blue;
	font-size: 2em;	

}

body{

	background-color: #00ff58;
}






