{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>{{titlehead}}</title>
<style type="text/css" rel="stylesheet">
  {% include 'default.css' %}
</style>
</head>
<body>			<div id="logo">
				<h1><a href="http://127.0.0.1:8000/">{{pagetitle}}</a></h1>
			</div>
			<div id="options">
				<ul>
					<li class="active"><a href="http://127.0.0.1:8000/">Homepage</a></li>
					<li><a href="/movieslist">Movies</a></li>
					<li><a href="/actorslist">Actors</a></li>
					<li><a href="/directorslist">Directors</a></li>
				</ul>
			</div>
				<h1>{{ pelicula.title }}</h1>
			
					<p><b>Argument:</b> {{pelicula.argument}}</p>
					<!--<p><b>Director:</b> <a href="/directors/{{pelicula.Director.id}}">{{pelicula.director}}</a></p>-->
					<p><b>Actors:</b></p>
					<ol>
					{% for actor in actors_list %}
					<li>
					<a href="/actorslist/{{actor.id}}">{{actor.name}}</a>
					</li>
					{% endfor %}
					</ol>

				
</body>
<html>
