<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<style type="text/css" rel="stylesheet">
  {% include 'default.css' %}
</style>
<title>MyMovies</title>
</head>

<body>
<div id="container">
		<div id="mainpic">
        	<h1>My<span class="lightblue">Movies</span></h1>
            <h2>The library of your favorite movies</h2>
        </div>   
        
        <div id="menu">
        	<ul>
           			<li class="active"><a href="http://127.0.0.1:8000/">Homepage</a></li>
					<li><a href="/movieslist">Movies</a></li>
					<li><a href="/actorslist">Actors</a></li>
					<li><a href="/directorslist">Directors</a></li>
					<li><a href="/producerslist">Producers</a></li>
					<li><a href="/reviewslist">Reviews</a></li>
            </ul>
        </div>
        </div>
		<div id="content">

		<div id="content">

  {% if user.username %}
      
      <!--MOSTRAR SUS PELICULAS PERSONALES-->
				<h2 class="title">{{pagetitle}}</h2><br/>
				<ol>
				{% for pelicula in pelicules_list %}
				<li>
					<a href="/movieslist/{{pelicula.id}}">{{pelicula.title}}</a>
				</li>
				{% endfor %}
				</ol>

			    <br>
			     <p><b>Before you add a new movie, you have to add a new director, producer and the actors.</p>
			    {% if user %}
			        (<a href="/mymovies/create">Add Movie</a>)
			    {% endif %}



      {% else %}
        <h2>Not logged user</h2>
        <p>You must <a href="/login/">sign in</a> to use this site</p>
      {% endif %}

		 </div>
 	  </div>
				
</body>
<html>
